$main-text-color: #333;
$gray: #D8D8D8;
$footer-bg-color: #EDEDED;
$red: #EE163A;
$tile: #FF5D5D;
$orange: #FF9853;
$yellow: #FFE202;
$deep-yellow: #FFC107;
$green: #0CBC69;
$lighter-green: #8BC34A;
$indigo: #8197DA;
$purple: #AE4ACC;
$blue: #03A9F4;
$foundation-black: #0a0a0a;
//modify default foundation variable
$thumbnail-radius: 50%;