@import url(/KaiFeng/webroot/tsg/css/_reset.css);
.padding-right-30 {
  padding-right: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  cursor: pointer;
}

.container {
  max-width: 960px;
  padding: 0;
  margin: auto;
}

.container header .top-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.container header .top-area img {
  height: 80px;
}

.container header .top-area .register-count {
  text-align: right;
  color: #EE163A;
  font-weight: bold;
}

.container header .top-area .register-count p.number {
  font-weight: bold;
  font-size: 86px;
  line-height: 70px;
  height: 70px;
  margin: 0;
}

.container header .top-area .register-count p.desc {
  font-size: 20px;
  margin: 0;
  line-height: 20px;
}

.container header .top-area .countdown {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header .top-area .countdown > div {
  margin-right: 30px;
  font-weight: bold;
}

.container header .top-area .countdown > div p {
  margin: 0;
  text-align: center;
}

.container header .top-area .countdown > div p.number {
  font-size: 36px;
  height: 45px;
}

.container header .top-area .countdown > div p.desc {
  font-size: 20px;
}

.container header .top-area .countdown > div:nth-of-type(1) {
  color: #EE163A;
}

.container header .top-area .countdown > div:nth-of-type(2) {
  color: #FFC107;
}

.container header .top-area .countdown > div:nth-of-type(3) {
  color: #03A9F4;
}

.container header .top-area .countdown > div:nth-of-type(4) {
  color: #8BC34A;
  margin-right: 0;
}

.container header .top-area .countdown:after {
  clear: both;
}

.menu-divider {
  height: 15px;
  background-color: #D8D8D8;
}

nav .menu > li {
  border-radius: 10px 10px 0 0;
}

nav .menu > li > a {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

nav .menu > li:hover > a {
  color: #fff;
}

nav .menu > li.active > a {
  color: #fff;
  background-color: transparent;
}

nav .menu > li.active:nth-of-type(2n+1) {
  background-color: #FF5D5D;
}

nav .menu > li.active:nth-of-type(2n+2) {
  background-color: #FF9853;
}

nav .menu > li.active:nth-of-type(2n+3) {
  background-color: #FFC107;
}

nav .menu > li.active:nth-of-type(2n+4) {
  background-color: #0CBC69;
}

nav .menu > li.active:nth-of-type(2n+5) {
  background-color: #8197DA;
}

nav .menu > li.active:nth-of-type(2n+6) {
  background-color: #AE4ACC;
}

nav .menu > li:nth-of-type(2n+1):hover {
  background-color: #FF5D5D;
}

nav .menu > li:nth-of-type(2n+2):hover {
  background-color: #FF9853;
}

nav .menu > li:nth-of-type(2n+3):hover {
  background-color: #FFC107;
}

nav .menu > li:nth-of-type(2n+4):hover {
  background-color: #0CBC69;
}

nav .menu > li:nth-of-type(2n+5):hover {
  background-color: #8197DA;
}

nav .menu > li:nth-of-type(2n+6):hover {
  background-color: #AE4ACC;
}

.lang-choice {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.lang-choice button {
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  width: 50px;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 10px 10px 0 0;
  color: white;
  font-weight: bold;
  background: #666;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.25), #000);
  cursor: pointer;
}

.lang-choice button.active {
  height: 50px;
  background: linear-gradient(135deg, #C96DD8, #3023AE);
}

@media only screen and (max-width: 420px) {
  .lang-choice {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .lang-choice button {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: block;
    width: 48%;
    border-radius: 0;
  }
  .lang-choice button.active {
    height: 38px;
    font-size: 22px;
    line-height: 38px;
  }
}

.whole-wrapper {
  padding: 20px 0;
}

.content-wrapper-md {
  max-width: 800px;
  margin: auto;
}

.content-wrapper-sm {
  max-width: 650px;
  margin: auto;
}

.grid-x.content-wrapper-md {
  margin-bottom: 25px;
}

.text-content-wrapper {
  max-width: 650px;
  margin: auto;
  font-size: 18px;
  padding: 0 15px;
}

.text-content-wrapper ul {
  list-style: none;
  margin-left: 0;
}

.text-content-wrapper ul li {
  position: relative;
  padding-left: 20px;
}

.text-content-wrapper ul li::before {
  position: absolute;
  left: 0;
  top: 0.4em;
  font-family: "FontAwesome";
  content: "\f111";
  margin-right: 10px;
  font-size: 0.7em;
}

.text-content-wrapper ul li:nth-of-type(6n+1)::before {
  color: #FF5D5D;
}

.text-content-wrapper ul li:nth-of-type(6n+2)::before {
  color: #FF9853;
}

.text-content-wrapper ul li:nth-of-type(6n+3)::before {
  color: #FFC107;
}

.text-content-wrapper ul li:nth-of-type(6n+4)::before {
  color: #0CBC69;
}

.text-content-wrapper ul li:nth-of-type(6n+5)::before {
  color: #8197DA;
}

.text-content-wrapper ul li:nth-of-type(6n+6)::before {
  color: #AE4ACC;
}

.text-content-wrapper .belong-to-list {
  margin-bottom: 0;
}

.text-divider {
  margin: 50px auto;
  border: 2px solid #FFC107;
  width: 300px;
}

.content-subheading-1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #EE163A;
}

.content-subheading-2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #03A9F4;
}

.emphasized-content {
  font-weight: bold;
  color: #03A9F4;
}

.slider-area {
  background-image: linear-gradient(45deg, #666 25%, transparent 25%), linear-gradient(-45deg, #666 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #666 75%), linear-gradient(-45deg, transparent 75%, #666 75%);
  background-size: 2px 2px;
  -webkit-background-size: 2px 2.1px;
  /* override value for webkit */
  background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}

.sponsor-section {
  padding: 20px;
}

.sponsor-section .main-sponsor > div {
  margin-bottom: 20px;
}

.sponsor-section .sponsor > div {
  margin-bottom: 25px;
}

.page-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 0;
  color: #EE163A;
}

footer {
  padding: 30px 0;
  background-color: #EDEDED;
}

footer img {
  height: 80px;
}

footer h2 {
  color: #4A4A4A;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

footer .footer-contact {
  font-size: 16px;
}

footer .footer-contact .email {
  font-weight: bold;
  color: #EE163A;
}

.main-info {
  padding: 15px 0;
  background-color: #8BC34A;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.main-info h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: #EE163A;
}

.main-info .lead {
  font-weight: bold;
  font-size: 1.3em;
}

.main-info > hr {
  border-color: #fff;
  width: 50%;
}

#mobile-menu .menu li {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 5px;
}

#mobile-menu .menu li.active > a {
  color: #fff;
  background-color: transparent;
}

#mobile-menu .menu li.active:nth-of-type(6n+1) {
  background-color: #FF5D5D;
}

#mobile-menu .menu li.active:nth-of-type(6n+2) {
  background-color: #FF9853;
}

#mobile-menu .menu li.active:nth-of-type(6n+3) {
  background-color: #FFC107;
}

#mobile-menu .menu li.active:nth-of-type(6n+4) {
  background-color: #0CBC69;
}

#mobile-menu .menu li.active:nth-of-type(6n+5) {
  background-color: #8197DA;
}

#mobile-menu .menu li.active:nth-of-type(6n+6) {
  background-color: #AE4ACC;
}

#mobile-menu .menu li a {
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (max-width: 420px) {
  .container header .top-area {
    display: block;
    position: relative;
    margin-bottom: 0;
  }
  .container header .top-area .logo {
    height: 50px;
    padding-left: 10px;
  }
  .container header .top-area .register-count {
    position: absolute;
    right: 10px;
    top: 0;
  }
  .container header .top-area .register-count p.number {
    font-size: 40px;
    line-height: 40px;
    height: auto;
  }
  .container header .top-area .register-count p.desc {
    font-size: 16px;
    line-height: 10px;
  }
  .container header .top-area .countdown {
    padding-left: 0;
    padding: 5px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    background: url("../img/black60.png") repeat-x, linear-gradient(124deg, #FF5D5D, #FF9853, #FFC107, #0CBC69, #8197DA, #AE4ACC);
    background-color: #0a0a0a;
  }
  .container header .top-area .countdown > div {
    display: inline-block;
  }
  .container header .top-area .countdown > div p.number {
    font-size: 25px;
    height: 30px;
  }
  .container header .top-area .countdown > div p.desc {
    font-size: 18px;
  }
  .menu-divider {
    display: none;
  }
}

#ambassador-page .thumbnail.round {
  border-radius: 999px;
}

@media only screen and (max-width: 420px) {
  .reveal-overlay .reveal button.close-button {
    top: 16px;
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .reveal-overlay .reveal button.close-button span {
    color: white;
    line-height: 32px;
  }
}

div[data-key^="ambas-details"] {
  padding: 0 25px;
}

.timeline {
  list-style: none;
  margin-left: 0;
  margin: auto;
}

.timeline li {
  position: relative;
  padding-bottom: 20px;
}

.timeline li .date {
  text-align: center;
  background: linear-gradient(124deg, #FF5D5D, #FF9853, #FFC107, #0CBC69, #8197DA, #AE4ACC);
  height: 80px;
  width: 80px;
  line-height: 60px;
  border-radius: 1000px;
  border: 5px solid #fff;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.timeline li .date span {
  display: inline-block;
  line-height: 20px;
  width: 120%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.timeline li .line {
  width: 2px;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 40px;
  top: 25px;
  z-index: -1;
}

.timeline li .activity {
  padding: 5px;
  padding-left: 75px;
  margin-top: 20px;
}

.timeline li .activity .time {
  position: relative;
}

.timeline li .activity .dot {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #0CBC69;
  border: 5px solid #fff;
  left: 26px;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.timeline li .activity .timeline-content-wrapper {
  display: block;
  margin-bottom: 20px;
}

.timeline li .activity .timeline-content-wrapper:last-child {
  margin-bottom: 0;
}

.timeline li .activity .timeline-content-wrapper .content {
  background-color: #0CBC69;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
}

.timeline li .activity .timeline-content-wrapper .content p {
  margin-bottom: 0;
}

.timeline li .activity .timeline-content-wrapper .content .time {
  font-weight: bold;
}

.timeline li .activity .timeline-content-wrapper .content > ul li {
  padding-bottom: 0;
}
 

 /*# sourceMappingURL= style.css.map */